# Using Solid Cable (database-backed) for Action Cable in development to support multiple connections
development:
  adapter: solid_cable
  silence_polling: true

test:
  adapter: test

production:
  adapter: solid_cable
  connects_to:
    database:
      writing: cable
  polling_interval: 0.1.seconds
  message_retention: 1.day
